In [21]:
import pandas as pd
import numpy as np

In [22]:
df = pd.read_excel("/Users/finn/Documents/GitHub/data/e4e6/Uncleaned Data/US_Tax_Long.xlsx")

In [23]:
df = df.melt(id_vars=['Year'], var_name='Tax', value_name='Value')

In [24]:
df.to_csv("/Users/finn/Documents/GitHub/data/e4e6/US_Tax.csv", index=False)

### Recessions

In [36]:
NBER_df = pd.read_json("http://data.nber.org/data/cycles/business_cycle_dates.json")
NBER_df = NBER_df.iloc[1:,:]

In [37]:
NBER_df
NBER_df.columns = ['Start', 'End']

In [38]:
pre_NBER_range_recessions = [['17850615', '17881215'], ['17890615', '17931215'], ['17920615', '17921215'], ['17960615', '17991215'], ['18020615', '18041215'], ['18070615', '18101215'], ['18120615', '18121215'], ['18150615', '18211215'], ['18220615', '18231215'], ['18250615', '18261215'], ['18280615', '18291215'], ['18330615', '18341215'], ['18360615', '18381215'], ['18390615', '18431215'], ['18450615', '18461215'], ['18471001', '18481130'], ['18530601', '18541231']]
pre_df = pd.DataFrame(pre_NBER_range_recessions)
pre_df.columns = ['Start', 'End']
pre_df.Start = pre_df.Start.str[0:4] + '-' + pre_df.Start.str[4:6] + '-' + pre_df.Start.str[6:8]
pre_df.End = pre_df.End.str[0:4] + '-' + pre_df.End.str[4:6] + '-' + pre_df.End.str[6:8]

In [39]:
recession_df = pd.concat([pre_df, NBER_df], axis=0)

In [42]:
recession_df.Start = pd.to_datetime(recession_df.Start)
recession_df.End = pd.to_datetime(recession_df.End)

In [43]:
recession_df

        Start        End
0  1785-06-15 1788-12-15
1  1789-06-15 1793-12-15
2  1792-06-15 1792-12-15
3  1796-06-15 1799-12-15
4  1802-06-15 1804-12-15
5  1807-06-15 1810-12-15
6  1812-06-15 1812-12-15
7  1815-06-15 1821-12-15
8  1822-06-15 1823-12-15
9  1825-06-15 1826-12-15
10 1828-06-15 1829-12-15
11 1833-06-15 1834-12-15
12 1836-06-15 1838-12-15
13 1839-06-15 1843-12-15
14 1845-06-15 1846-12-15
15 1847-10-01 1848-11-30
16 1853-06-01 1854-12-31
1  1857-06-01 1858-12-01
2  1860-10-01 1861-06-01
3  1865-04-01 1867-12-01
4  1869-06-01 1870-12-01
5  1873-10-01 1879-03-01
6  1882-03-01 1885-05-01
7  1887-03-01 1888-04-01
8  1890-07-01 1891-05-01
9  1893-01-01 1894-06-01
10 1895-12-01 1897-06-01
11 1899-06-01 1900-12-01
12 1902-09-01 1904-08-01
13 1907-05-01 1908-06-01
14 1910-01-01 1912-01-01
15 1913-01-01 1914-12-01
16 1918-08-01 1919-03-01
17 1920-01-01 1921-07-01
18 1923-05-01 1924-07-01
19 1926-10-01 1927-11-01
20 1929-08-01 1933-03-01
21 1937-05-01 1938-06-01
22 1945-02-01 1945-10-01
23 1948-11-01 1949-10-01
24 1953-07-01 1954-05-01
25 1957-08-01 1958-04-01
26 1960-04-01 1961-02-01
27 1969-12-01 1970-11-01
28 1973-11-01 1975-03-01
29 1980-01-01 1980-07-01
30 1981-07-01 1982-11-01
31 1990-07-01 1991-03-01
32 2001-03-01 2001-11-01
33 2007-12-01 2009-06-01
34 2020-02-01 2020-04-01

In [45]:
recession_df.to_json("/Users/finn/Documents/GitHub/data/e4e6/US_recessions.csv", orient="records")